/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

  html {
   text-align: center;
  }

  body { background: #f4f4f4; height: 100vh; }
  .container { max-width: 740px; box-shadow: 0px 2px 5px rgba(0,0,0,0.25); background: #D3FFE4; margin: 0 auto; }
  
  p { color: #D3FFE4; }
  
  h1 { margin: 20px 0 0; }
  h4.subhead { font-weight: lighter; color: #777; margin-bottom: 20px; }
  
  pre { -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px; margin: 0; display: block; font: 11px Monaco, monospace !important; padding: 15px; background-color: #1C1C1C; overflow: auto; color: #D0D0D0; line-height: 125%; margin-bottom: 30px; }

  main {
   display: grid;
   justify-content: center;
  }

/* -----------------------------------------
   Page Name 1
----------------------------------------- */
   
  .jumbotron {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   padding: 0;
   background-color: #000F37;
   color: #D3FFE4
  }

  #bottomjumbo {
   padding-bottom: 9px;
  }

  h2 {
   justify-self: center;
  }

  #reload-btn {
   width: 80vw;
   height: 50px;
   margin: 18px auto 40px;
   font-size: 14px;
  }

  .alert-info {
   margin-bottom: 0;
   background-color: #D3FFE4;
   width: 100vw;
  }

  ul {
   border-top: none;
   width: 100%;
   background-color: #000F37;
   padding: 10px;
   margin: 0;
   //overflow-x: scroll;
  }

  #commentSection {
   height: 600px;
   width: 100%;
   margin: 0 auto;
   border: 1px solid #D3FFE4;
   background-color: #000F37;
   overflow-x: scroll;
   border-radius: 5px;
  }

  .comment {
   width: 90%;
   line-height: 40px;
   border-bottom: 1px solid #D3FFE4;
   list-style: none;
   margin: 0 auto;
  }

  .btn-info {
   background-color: #D3FFE4;
   border: 1px solid #000f37;
   color: #000f37;
   transition: 0.3s;
  }

  .btn-info:hover {
   background-color: #D3FFE4;
   color: #1C1C1C;
  }

  @media only screen and (max-width: 450px) {
   #commentSection {
      width: 90vw;
      height: 450px;
   }
  }
/* -----------------------------------------
   Page Name 2
----------------------------------------- */


